{{ errors }}
{% if errors and not sections %}
  <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}
{% for section in sections %}
    <div>{{ section.instructions }}</div>
    {% for question in section.questions %}
        <div>{{ question.text }}</div>
        {% with field=question.field.0 errors=question.field.1 wrong_answer=question.field.2 %}
        <div{% with classes=field.css_classes %}{% if classes %} class="{{ classes }}"{% endif %}{% endwith %}>
            {% if field.use_fieldset %}
              <fieldset>
              {% if field.label %}{{ field.legend_tag }}{% endif %}
            {% else %}
              {% if field.label %}{{ field.label_tag }}{% endif %}
            {% endif %}
            {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
            {{ errors }}
            {{ field }}
            {{ wrong_answer }}
            {% if field.use_fieldset %}</fieldset>{% endif %}
        </div>
        {% endwith %}
    {% endfor %}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
{% endfor %}
{% if not sections and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}