<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="hidden" name="form-TOTAL_FORMS" value="2" id="id_form-TOTAL_FORMS"><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"><input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"><input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS"><div>
    <p>1+1=?</p>
    <p>
    <label for="id_form-0-answer">Answer:</label>
    <select name="form-0-answer" id="id_form-0-answer">
  <option value="A">2</option>

  <option value="B">4</option>

</select>




  </p>
</div><div>
    <p>2+2=?</p>
    <p>
    <label for="id_form-1-answer">Answer:</label>
    <select name="form-1-answer" id="id_form-1-answer">
  <option value="A">2</option>

  <option value="B">4</option>

</select>




  </p>
</div>
</body>
</html>