{% load option %}
<div class="pb-1">
  <div>
    <strong>Question 1:</strong>
    What?
  </div>
  {% with field=fields.0 error=errors.0 %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% opt "checkbox" field.options.0 %}
      Congratulations!
    {% /opt %}
    {% include_option "checkbox" field.options.0 %}
      I'm sorry
    {% end_include %}
    {% include_option "checkbox" field.options.0 %}
      Good job!
    {% end_include %}
    {% include_option "checkbox" field.options.0 %}
      I'm glad you like it.
    {% end_include %}
  </div>
  {{ error }}
  {% endwith %}
</div>