{% extends "../question_base.html" %}

{% block contents %}
  <div>
    <strong>Question 2:</strong> Samuel is talking to Lan about volunteer work.
    - Samuel: "I think we should do some local volunteer work this summer"
    <!-- 7 underscores -->
    - Lan: "_______. Some people in our neighbourhood really need help."
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% include "../checkbox_option.html" with widget=field.subwidgets.0 %}
    {% include "../checkbox_option.html" with widget=field.subwidgets.1 %}
    {% include "../checkbox_option.html" with widget=field.subwidgets.2 %}
    {% include "../checkbox_option.html" with widget=field.subwidgets.3 %}
  </div>
{% endblock %}