{% extends "pastpapers/forms/questions/base.html" %}

{% block contents %}
  <div>
    <strong>Question 1:</strong>
    Jennifer is giving Liz a house-warming present.<br>
    - Liz: "Thanks for the nice gift you bought for us."<br>
    <!-- 7 underscores -->
    - Jennifer: "_______"
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% with subwidgets=field.subwidgets result=field.result %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.0.data result=result.0 %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.1.data result=result.1 %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.2.data result=result.2 %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.3.data result=result.3 %}
    {% endwith %}
  </div>
{% endblock %}