{% extends "pastpapers/forms/questions/base.html" %}

{% block contents %}
  <div>
    <strong>Question 2:</strong> Samuel is talking to Lan about volunteer work.<br>
    - Samuel: "I think we should do some local volunteer work this summer"<br>
    <!-- 7 underscores -->
    - Lan: "_______. Some people in our neighbourhood really need help."
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% with subwidgets=field.subwidgets result=field.result %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.0.data result=result.0 %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.1.data result=result.1 %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.2.data result=result.2 %}
    {% include "pastpapers/forms/questions/options/checkbox.html" with widget=subwidgets.3.data result=result.3 %}
    {% endwith %}
  </div>
{% endblock %}