{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark border-bottom">
    <div class="container">
      <a class="navbar-brand text-primary" href="#">Thidh</a>
      <button class="navbar-toggler text-primary shadow-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#subjectNavBar">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <div class="collapse navbar-collapse" id="subjectNavBar">
        <ul class="nav nav-pills">
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill{% block toan_navlink_extra_cls %}{% endblock %}" href="" {% block toan_navlink_extra %}{% endblock %}>Toán</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block ly_navlink_extra %}{% endblock %}>Lý</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block hoa_navlink_extra %}{% endblock %}>Hóa</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block sinh_navlink_extra %}{% endblock %}>Sinh</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block su_navlink_extra %}{% endblock %}>Sử</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block dia_navlink_extra %}{% endblock %}>Địa</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block gdcd_navlink_extra %}{% endblock %}>GDCD</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link rounded-pill" href="" {% block ngoaingu_navlink_extra %}{% endblock %}>Ngoại ngữ</a>
          </li>
        </ul>
        <div class="ms-auto py-2">
          {% if user.is_authenticated %}
            <a class="link-primary" href=""><i>{{ user.username }}</i></a> /
            <a href="{% url 'accounts:logout' %}" class="link-primary"><i>Đăng xuất</i></a>
          {% else %}
            <a href="{% url 'accounts:login' %}" class="link-primary">Đăng nhập</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% block body %}
  {% endblock %}

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>