{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="card mt-3 mb-5">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="h4 m-0">Đề thi Tiếng Anh THPT Quốc Gia 2022</div>
          <div><span class="text-muted">Thời gian: </span><strong>60 phút</strong></div>
        </div>
        {% include 'anh2022.html' %}
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-primary me-1">Lưu</button>
            <button type="submit" class="btn btn-primary">Nộp bài</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}