{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block toan_navlink_extra_cls %} active{% endblock %} {# Need a space before 'active' #}

{% block toan_navlink_extra %}data-bs-toggle="pill" data-bs-target="#toan"{% endblock %}

{% block ly_navlink_extra %}data-bs-toggle="pill" data-bs-target="#ly"{% endblock %}

{% block hoa_navlink_extra %}data-bs-toggle="pill" data-bs-target="#hoa"{% endblock %}

{% block sinh_navlink_extra %}data-bs-toggle="pill" data-bs-target="#sinh"{% endblock %}

{% block su_navlink_extra %}data-bs-toggle="pill" data-bs-target="#su"{% endblock %}

{% block dia_navlink_extra %}data-bs-toggle="pill" data-bs-target="#dia"{% endblock %}

{% block gdcd_navlink_extra %}data-bs-toggle="pill" data-bs-target="#gdcd"{% endblock %}

{% block ngoaingu_navlink_extra %}data-bs-toggle="pill" data-bs-target="#ngoaingu"{% endblock %}

{% block body %}
  <section>
    <div class="tab-content">
      <!-- Toán -->
      <div class="container tab-pane show active" id="toan">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in toan.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in toan.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Lý -->
      <div class="container tab-pane" id="ly">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in ly.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in ly.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Hóa -->
      <div class="container tab-pane" id="hoa">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in hoa.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in hoa.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Sinh -->
      <div class="container tab-pane" id="sinh">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in sinh.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in sinh.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Sử -->
      <div class="container tab-pane" id="su">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in su.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in su.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Địa -->
      <div class="container tab-pane" id="dia">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in dia.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in dia.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Giáo dục công dân -->
      <div class="container tab-pane" id="gdcd">
        <div class="row gx-5 gb-4 mt-subject-1">
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
            <ul class="list-group list-group-flush">
              {% for paper in gdcd.pastpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
            <ul class="list-group list-group-flush">
              {% for paper in gdcd.mockpapers %}
              {% include "paper-list-item.html" with paper=paper %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Ngoại ngữ -->
      <div class="tab-pane" id="ngoaingu">
        <!-- Ngoại ngữ navbar -->
        <ul class="nav nav-pills justify-content-center py-1 border-bottom">
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center active" data-bs-toggle="pill"
              data-bs-target="#anh">
              <small>Anh</small>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center" data-bs-toggle="pill"
              data-bs-target="#phap">
              <small>Pháp</small>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center" data-bs-toggle="pill"
              data-bs-target="#duc">
              <small>Đức</small>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center" data-bs-toggle="pill"
              data-bs-target="#nhat">
              <small>Nhật</small>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center" data-bs-toggle="pill"
              data-bs-target="#han">
              <small>Hàn</small>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center" data-bs-toggle="pill"
              data-bs-target="#nga">
              <small>Nga</small>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a href="" class="nav-link py-1 rounded-pill d-inline-flex align-items-center" data-bs-toggle="pill"
              data-bs-target="#trung">
              <small>Trung</small>
            </a>
          </li>
        </ul>
        <div class="container tab-content">
          <!-- Tiếng Anh -->
          <div class="tab-pane show active" id="anh">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in toan.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in toan.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Tiếng Pháp -->
          <div class="tab-pane" id="phap">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in phap.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in phap.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Tiếng Đức -->
          <div class="tab-pane" id="duc">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in duc.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in duc.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Tiếng Nhật -->
          <div class="tab-pane" id="nhat">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in nhat.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in nhat.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Tiếng Hàn -->
          <div class="tab-pane" id="han">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in han.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in han.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Tiếng Nga -->
          <div class="tab-pane" id="nga">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in nga.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in nga.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Tiếng Trung -->
          <div class="tab-pane" id="trung">
            <div class="row gx-5 gb-4 mt-subject-0">
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề THPT Quốc Gia</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in trung.pastpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <h3 class="lead text-center fw-normal mb-0">Đề ôn luyện</h3>
                <ul class="list-group list-group-flush">
                  {% for paper in trung.mockpapers %}
                  {% include "paper-list-item.html" with paper=paper %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}