<div class="col">
  <div class="form-check">
    <input 
      class="form-check-input{% if result == True %} is-valid{% elif result == False %} is-invalid{% endif %}"
      type="checkbox"
      id="{{ widget.attrs.id }}"
      name="{{ widget.name }}"
      {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
      {% if widget.selected %}checked{% endif %}
    >
    <label class="form-check-label" for="{{ widget.attrs.id }}">
      {{ widget.label }}
      {% if result == True %}
      <i class="bi bi-check-lg"></i>
      {% elif result == False %}
      <i class="bi bi-x-lg"></i>
      {% endif %}
    </label>
  </div>
</div>